/* .layout_page{
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.navigation{
    width: 100%;
    height: auto;
    background-color:rgb(118, 154, 233);
}
.layout_render{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}